    <div class="mb-3">
        <a href="/ManageBooks" class="btn btn-outline-primary">Manage Books</a>
        <a href="/Admin/ManageDiscounts" class="btn btn-outline-warning">Manage Discounts</a>
        <a href="/ManageAnnouncements" class="btn btn-outline-info">Manage Announcements</a>
    </div> 